//------------------------------------------------------------------------------
// Global
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------
$o-color-1: #4EA8DE;
$o-color-2: #F2F2F2;
$o-color-3: #5E60CE;
$o-color-4: #808080;
$o-color-5: #0D0D0D;
$o-color-6: #262626;